@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 60, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.726);
}

fieldset {
    border-color: white;
    border: 1px solid white;
}

input {
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 7px;
}

#enviar {
    border-radius: 0px;
    background-color: rgb(52, 52, 255);
    color: white;
    padding: 7px;
    padding-left: 43vw;
    padding-right: 43vw;
}